@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to Our E-Shop</h1>
    <p class="lead">Discover a wide range of handmade carpentry products crafted with care. Start exploring now!</p>
    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")" role="button">Shop Now</a>
    </p>
</div>
